body {
  margin: 0;
  display: flex;
}

body > div {
  height: 100vh;
}

.hero {
  width: 40vw;
  background-image: url(img/gautier-salles-CPFV7QS3_Sg-unsplash.jpg) ;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.user-info input {
  width: 200px;
}

.sign-up-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60vw;
  padding-left: 3rem;
}

#sign-up-form {
  display: flex;
  justify-content: flex-start;
  column-gap: 3rem;
}

#sign-up-form > div {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
}

#sign-up-form > div > div {
  display: flex;
  flex-direction: column;
  row-gap: .3rem;
}