:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  display: flex;
}

body > div {
  height: 100vh;
}

.hero {
  display: flex;
  width: 40vw;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg {
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 0;
  width: 40vw;
  height: 100vh;
}

.sign-up-section {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

#description {
  padding-left: 1rem;
  height: 30vh;
  background-image: linear-gradient(to bottom right, #638aab, #ecd9c6);
  display: flex;
}

#description p {
  align-self: flex-end;
  font-size: 1.5rem;
  
}

#user-info {
  height: 35vh;
  padding-left: 1rem;

}

#user-info input {
  width: 200px;
  border: 1px rgb(209, 209, 209) solid;
  border-radius: .5rem;
  padding: 3px;
}

#user-info input:focus {
  outline: none;
  border: 1px rgb(102, 196, 255) solid;
  box-shadow: 2px 2px rgb(210, 210, 210);
}

#input-area {
  display: flex;
  justify-content: flex-start;
  column-gap: 3rem;
}

#input-area > div {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
}

#input-area > div > div {
  display: flex;
  flex-direction: column;
  row-gap: .3rem;
}

#input-area label {
  font-size: .7rem;
}

#submit-info {
  height: 35vh;
  padding-left: 1rem;
  background-image: linear-gradient(to bottom left, #638aab, #ecd9c6);
}

#submit-info div {
  padding-top: 3rem;
}

#submit {
  border: none;
  border-radius: .5rem;
  background-color: #bfc5c3;
  color: white;
  padding: 1rem;
}